@using BusinessLogic.ExternalData
@using StudyLanguages.Models.Main
@{
    ViewBag.Title = "Index";
    ViewBag.IsCentered = true;
    ViewBag.ActiveItem = SectionId.No;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
