<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="C:\Projects\logs\" />
  <!--<variable name="logDirectory" value="C:\HostingSpaces\176.9.119.68\studyfun.ru\data\" />-->
  
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="Errors" fileName="${logDirectory}\Errors.log"
            layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" encoding="UTF-8" keepFileOpen="false"
            archiveEvery="Day" archiveNumbering="Rolling" archiveFileName="${logDirectory}\Errors_{shortdate}.log" />

    <target xsi:type="File" name="Default" fileName="${logDirectory}\Default.log"
            layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" encoding="UTF-8" keepFileOpen="false"
            archiveEvery="Day" archiveNumbering="Rolling" archiveFileName="${logDirectory}\Default_{shortdate}.log" />
  </targets>

  <rules>
    <logger name="Errors" minlevel="Trace" writeTo="Errors" final="true" />
    <logger name="*" minlevel="Trace" writeTo="Default" />
  </rules>
</nlog>