@using BusinessLogic.ExternalData
@model StudyLanguages.Models.Sales.SuccessPaymentModel
@{    
    const SectionId SECTION_ID = SectionId.No;
    ViewBag.ActiveItem = SECTION_ID;
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsCentered = false;

    ViewBag.Title = "Оплата успешно пройдена. Успешная оплата";
    ViewBag.Keywords = "Оплата успешно пройдена, успешная оплата, успешный платеж";
    ViewBag.Description = "Оплата успешно пройдена. Успешная оплата";
}

<div id="contentContainerId" class="row">
    <h3 class="text-center">Оплата успешно пройдена!</h3>
    @Html.Partial("PartialDownloadPurchasedGoods", Model)
</div>